<% if (body.error) { %>
    <div class="alert alert-danger">
        <%= body.error %>
    </div>
<% } %>
<% if (body.success) { %>
    <div class="alert alert-success">
        <%= body.success %>
    </div>
<% } %>